:root{
    --color-one:#251D3A;
    --color-two:#2A2550;
    --color-tree:#E04D01;
    --color-four:#FF7700;
    --color-five:#ffff;
    --text-color:white;
    --text-size:17px;
    --space-gad:20px;
    --height-max:100vh;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-one);
    width: 100%;
    height: var(--height-max);
    color: var(--text-color);
    font-size: var(--text-size);
}
/*class container*/
.container{
    margin: auto;
    max-width: 280px;
}
.container__view{
   width: 100%;
}
.container--grid{
    display: grid;
    place-items: center;
    gap: var(--space-gad);
}
.container--flex{
    display: flex;
    gap: var(--space-gad);
}

.container--home{
    display: grid;
    grid-template-columns: 10% 90%;
}
.container--flex--coloumn{
    display: flex;
    flex-direction: column;
    gap: var(--space-gad);
}
.container__calendar{
    width: 60%;
    height: 80%;
    margin: auto;
}
/*class text*/
.tg-center{
  text-align: center;
}
.tg-start{
    text-align:start;
}
.lp-m{
    letter-spacing: .1rem;
}
/*class display*/
.d-inline{
    display: l;
}
/*class wi*/
.w_full{
    width: 100%;
}
/*class height*/
.h_Max{
  height: var(--height-max);
}
.h_maxP{
    height: 100%;
}
/*class input*/
.form__input{
  background-color: var(--color-two);
  border: none;
  height: 1.5rem;
  font-size: 1.2rem;
  padding: .2rem;
  border-radius: .2rem;
}

/*class link*/
.link--efect{
    text-decoration: none;
    color: var(--color-five);
}
.link--efect:hover{
    text-decoration: underline;
    color: var(--color-tree);
}
/*not found*/
.page_not_found_404{
    font-size: 30px;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
/* class buttons*/
.button{
    width: 100%;
    padding: .3rem;
    cursor: pointer;
    background-color: var(--color-four);
    border: none;
}
.button:hover{
    background-color: var(--color-tree);
}
.button--radius{
    width: 95%;
    height:60px;
  border-radius: 1rem;
}
.button--color--one{
    background-color: var(--color-one);
}
.button--color--one:hover{
    background-color: var(--color-four);
}
.button--form{
    width: 250px;
}
.button--formEdit{
    width: 120px;
}
/*class menu*/
.menu{
 background-color: var(--color-two);
}
/*class ul*/
.ul,
.ul__menu{
    list-style: none;
    width: 100%;
    padding:0;
}
.ul__menu{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ul li{
    width: 80%;
}

.ul__user{
    list-style: none;
    width: 100%;
    padding:0;
    height: 210px;
}

.li__user{
    margin-top: 10px;
    margin: none;
    width:250px;
    background-color: var(--color-two);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
}
/*class marg */
.m-auto{
    margin: auto;
}
.classOver{
    overflow-y: auto;
}
/* form */
.form_modal{
    display: none;
}
.form_modal--active{
    display: grid;
    place-items: center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
}
.body_form_modal{
    width: 280px;
    height: 300px;
}
/*query*/
@media (max-width: 840px) {
    .button--radius{
        font-size: 9px;
    }
}
.grid__user{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    place-items: center;
  }
@media (max-width: 570px) {
    .container--home{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 85% 15%;
        padding: 0 5px 0 5px;
    }
    .container{
        overflow-y: auto;
        height: 100%;
    }
    .ul{
        display: flex;
        justify-content: flex-end;
        gap: 0px;
    }
    .ul__menu{
        flex-direction: row;
        justify-content: space-between;
    }
    .li__menu{
        width: 80px;
    }
    .container--home>.ul:nth-child(1) {
        grid-row: 2;
      }
    .container--home>.container__view:nth-child(2) {
        grid-row: 1;
    }
    .button--radius{
        font-size: 12px;
    }
    .container__view{
      height: 80vh;
    }
    .grid__user{
        display: block;
        overflow-y: auto;
    }
    .classOver{
        margin: auto;
        width: 100%;
    }
    .li__user{
        margin: auto;
    }
    .container__calendar{
        width: 100%;
        height: 80%;
        margin: auto;
        position: relative;
    }
}
